language: python
sudo: false

python:
  - "3.4"
  - "3.5"
  - "pypy"

install:
  - python setup.py install
  - python setup.py develop
  - pip install -U flake8 pytest pytest-cov coveralls
  - pip freeze

script:
  - flake8
  - py.test

after_success:
  - coveralls

notifications:
  email:
    on_success: change
    on_failure: change
