.success {
    background-color: #6AF46B;
}

.failure {
    background-color: #FF7B77;
}

.failure-expected {
    text-decoration:line-through;
}

.info {
    background-color: #87BEFF;
}

.exception {
    background-color: #E97931;
    display: none;

    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
}
.exception-button {
    background-color: #E97931;
}
